*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
  }
  
  body{
    height: 100%;
    width: 100%;
    color: white;
  }
  
  nav{
    position: fixed;
    background-color:#4CAF50;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 3vw 5vw;
  }
  
  nav h1{
    font-size: 5vh;
    font-weight: 5vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  #nav-part2{
    display: flex;
    gap: 5vw;
    /* padding-right: 0.1vw; */
    color: white;
  }
  
  #nav-part2 button{
    background-color: rgb(20, 19, 19);
    width: 120px;
    height: 30px;
    font-size: 25px;
    color: white;
    border-radius: 50px;
  }
  
  #nav-part2 h3{
    color:white;
    font-size: 3vh;
  }
  
  #nav-part2 h3:hover{
    color: black;
  } 
  
  #page1{
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  
  #page1 h1
  {
    font-weight: 1200;
    color: black;
    font-size: 5vh;
    padding-top: 20px;
    padding-bottom: 150px;
  }
  
   #page1 p
  {
    text-align: center;
    font-size: 2vh;
    margin-top: 3vh;
  }
  
  /* Form Styling */
  form {
    display: flex;
    flex-direction: column;
    width: 50%; 
    margin: 0 auto;
  }
  
  label {
    margin-bottom: 5px;
    font-weight: bold;
    color: black;
  }
  
  input[type="text"],
  input[type="tel"],
  input[type="email"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button[type="submit"] {
    background-color: #4CAF50; 
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px; 
    width: 100px;
  }
  .table{
    color:black;
    border: 2px solid;
  }
  .table tr{
    border: 1px solid;
  }
  .table td{
    border: 1px solid;
  }
  .signup-container {
    margin-top:190px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.signup-container h2 {
    text-align: center;
}

.signup-container input[type="text"],
.signup-container input[type="date"],
.signup-container input[type="tel"],
.signup-container input[type="number"],
.signup-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.signup-container input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.signup-container a {
    text-decoration: none;
    color: blue;
}

.signup-container a:hover {
    text-decoration: underline;
}